################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/ChordViewer/.vs/ChordViewer
/.vs
/cloc-1.92.exe
